<h2>ARGB ↔ int calculator</h2>

<div id="container" [ngStyle]="colorPreviewStyle">

	<div class="item">
		<div>R: <input type="text" [(ngModel)]="rStr" (keydown.enter)="calcIntValFromArgb()" (focusout)="calcIntValFromArgb()"></div>
		<div>G: <input type="text" [(ngModel)]="gStr" (keydown.enter)="calcIntValFromArgb()" (focusout)="calcIntValFromArgb()"></div>
		<div>B: <input type="text" [(ngModel)]="bStr" (keydown.enter)="calcIntValFromArgb()" (focusout)="calcIntValFromArgb()"></div>
		<div>A: <input type="text" [(ngModel)]="aStr" (keydown.enter)="calcIntValFromArgb()" (focusout)="calcIntValFromArgb()"></div>
	</div>

  <div class="item">
    <div>#ARGB: <input type="text" [(ngModel)]="argbStr" (keydown.enter)="calcIntValFromHexArgb()" (focusout)="calcIntValFromHexArgb()"></div>
    <div>#RGBA: <input type="text" [(ngModel)]="rgbaStr" (keydown.enter)="calcIntValFromHexRgba()" (focusout)="calcIntValFromHexRgba()"></div>
  </div>

	<div class="item">
		<div>Int value: <input type="text" [(ngModel)]="iStr" (keydown.enter)="calcArgbFromIntVal()" (focusout)="calcArgbFromIntVal()"></div>
	</div>

</div>
